# Ignore the 16MB RAM dumps
*.bin
*.dmp
*.exe

# Ignore IDE and Specific Folders(For now, will be added to later)
.vscode/
Bin_Data/
Data_Exchange/
obj/

#Ignore branch specific files
Battler/AI/DecisionHelpers.hpp
Battler/AI/TypeEffectiveness.hpp
Makefile
