# Ignore the 16MB RAM dumps
*.bin
*.dmp

# Ignore IDE and Specific Folders(For now, will be added to later)
.vscode/
Bin_Data/
Data_Exchange/
BATTLER/

# Ignore local text outputs (optional, if you want them private)
Item_List.txt
pokemon_data.txt